-# in app/views/movies/new.html.haml
%ol.breadcrumb
  %il
    =link_to 'All Movies ', movies_path
  %li.divider /
  %li.active New Movie
= form_tag movies_path, :method => :post do
  .form-group
    = text_field :movie, :title, :class => "form-control ", :placeholder => "Title"
  .form-group
    = label :movie, :rating, 'Rating'
    = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
  .form-group
    = label :movie, :release_date, 'Released On'
    .form-control
      = date_select(:movie, :release_date, order: [:day, :month, :year])
  .form-group
    =text_area :movie, :description,
      :rows => 5,
      :class => "form-control",
      :style => 'width:350px',
      :placeholder => "Give a description"
  .form-group
    = submit_tag 'Save Changes', :class => "btn btn-primary btn-large"
